@use '../base' as *;

// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/colors

// --------------------------------

:root, [data-theme="default"] {
  // main
  @include defineColorHSL(--color-primary-darker, 355, 100%, 32%);
  @include defineColorHSL(--color-primary-dark, 355, 100%, 42%);
  @include defineColorHSL(--color-primary, 355, 100%, 52%);
  @include defineColorHSL(--color-primary-light, 355, 100%, 62%);
  @include defineColorHSL(--color-primary-lighter, 355, 100%, 72%);

  @include defineColorHSL(--color-accent-darker, 241, 67%, 37%);
  @include defineColorHSL(--color-accent-dark, 241, 67%, 47%);
  @include defineColorHSL(--color-accent, 241, 67%, 57%);
  @include defineColorHSL(--color-accent-light, 241, 67%, 67%);
  @include defineColorHSL(--color-accent-lighter, 241, 67%, 77%);

  @include defineColorHSL(--color-black, 0, 0%, 24%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
  @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
  @include defineColorHSL(--color-warning, 46, 100%, 61%);
  @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
  @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

  @include defineColorHSL(--color-success-darker, 122, 50%, 47%);
  @include defineColorHSL(--color-success-dark, 122, 50%, 52%);
  @include defineColorHSL(--color-success, 122, 50%, 60%);
  @include defineColorHSL(--color-success-light, 122, 50%, 69%);
  @include defineColorHSL(--color-success-lighter, 122, 50%, 76%);

  @include defineColorHSL(--color-error-darker, 342, 89%, 38%);
  @include defineColorHSL(--color-error-dark, 342, 89%, 43%);
  @include defineColorHSL(--color-error, 342, 89%, 48%);
  @include defineColorHSL(--color-error-light, 342, 89%, 56%);
  @include defineColorHSL(--color-error-lighter, 342, 89%, 62%);

  // background
  @include defineColorHSL(--color-bg-darker, 0, 0%, 89%);
  @include defineColorHSL(--color-bg-dark, 0, 0%, 93%);
  @include defineColorHSL(--color-bg, 0, 0%, 100%);
  @include defineColorHSL(--color-bg-light, 0, 0%, 100%);
  @include defineColorHSL(--color-bg-lighter, 0, 0%, 100%);

  // color contrasts
  @include defineColorHSL(--color-contrast-lower, 0, 0%, 83%);
  @include defineColorHSL(--color-contrast-low, 0, 0%, 62%);
  @include defineColorHSL(--color-contrast-medium, 0, 0%, 43%);
  @include defineColorHSL(--color-contrast-high, 0, 0%, 17%);
  @include defineColorHSL(--color-contrast-higher, 0, 0%, 0%);

  // gradients
  @include defineColorHSL(--gradient-primary-stop-1, 355, 62%, 50%);
  @include defineColorHSL(--gradient-primary-stop-2, 241, 89%, 48%);
  @include defineColorHSL(--gradient-secondary-stop-1, 355, 62%, 50%);
  @include defineColorHSL(--gradient-secondary-stop-2, 305, 62%, 50%);
}

@supports(--css: variables) {
  [data-theme="dark"] {
    // main
    @include defineColorHSL(--color-primary-darker, 250, 93%, 57%);
    @include defineColorHSL(--color-primary-dark, 250, 93%, 61%);
    @include defineColorHSL(--color-primary, 250, 93%, 65%);
    @include defineColorHSL(--color-primary-light, 250, 93%, 69%);
    @include defineColorHSL(--color-primary-lighter, 250, 93%, 72%);

    @include defineColorHSL(--color-accent-darker, 342, 92%, 41%);
    @include defineColorHSL(--color-accent-dark, 342, 92%, 47%);
    @include defineColorHSL(--color-accent, 342, 92%, 54%);
    @include defineColorHSL(--color-accent-light, 342, 92%, 60%);
    @include defineColorHSL(--color-accent-lighter, 342, 92%, 65%);

    @include defineColorHSL(--color-black, 204, 28%, 7%);
    @include defineColorHSL(--color-white, 0, 0%, 100%);

    // feedback
    @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
    @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
    @include defineColorHSL(--color-warning, 46, 100%, 61%);
    @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
    @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

    @include defineColorHSL(--color-success-darker, 122, 50%, 47%);
    @include defineColorHSL(--color-success-dark, 122, 50%, 52%);
    @include defineColorHSL(--color-success, 122, 50%, 60%);
    @include defineColorHSL(--color-success-light, 122, 50%, 69%);
    @include defineColorHSL(--color-success-lighter, 122, 50%, 76%);

    @include defineColorHSL(--color-error-darker, 342, 92%, 41%);
    @include defineColorHSL(--color-error-dark, 342, 92%, 47%);
    @include defineColorHSL(--color-error, 342, 92%, 54%);
    @include defineColorHSL(--color-error-light, 342, 92%, 60%);
    @include defineColorHSL(--color-error-lighter, 342, 92%, 65%);

    // background
    @include defineColorHSL(--color-bg-darker, 240, 1%, 20%);
    @include defineColorHSL(--color-bg-dark, 0, 0%, 22%);
    @include defineColorHSL(--color-bg, 0, 0%, 26%);
    @include defineColorHSL(--color-bg-light, 0, 0%, 30%);
    @include defineColorHSL(--color-bg-lighter, 240, 1%, 32%);

    // color contrasts
    @include defineColorHSL(--color-contrast-lower, 0, 0%, 36%);
    @include defineColorHSL(--color-contrast-low, 240, 1%, 49%);
    @include defineColorHSL(--color-contrast-medium, 240, 2%, 63%);
    @include defineColorHSL(--color-contrast-high, 240, 5%, 85%);
    @include defineColorHSL(--color-contrast-higher, 240, 100%, 99%);

    // gradients
    @include defineColorHSL(--gradient-primary-stop-1, 355, 62%, 50%);
    @include defineColorHSL(--gradient-primary-stop-2, 241, 89%, 48%);
    @include defineColorHSL(--gradient-secondary-stop-1, 355, 62%, 50%);
    @include defineColorHSL(--gradient-secondary-stop-2, 305, 62%, 50%);
  }
}

// background gradient
.bg-gradient-primary { background-image: radial-gradient(var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.bg-gradient-primary-top { background-image: linear-gradient(0deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.bg-gradient-primary-right { background-image: linear-gradient(90deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.bg-gradient-primary-bottom { background-image: linear-gradient(180deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.bg-gradient-primary-left { background-image: linear-gradient(270deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.bg-gradient-secondary { background-image: radial-gradient(var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.bg-gradient-secondary-top { background-image: linear-gradient(0deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.bg-gradient-secondary-right { background-image: linear-gradient(90deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.bg-gradient-secondary-bottom { background-image: linear-gradient(180deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.bg-gradient-secondary-left { background-image: linear-gradient(270deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }

// border gradient
.border-gradient-primary { border-image: radial-gradient(var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)) 1; }
.border-gradient-primary-top { border-image: linear-gradient(0deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)) 1; }
.border-gradient-primary-right { border-image: linear-gradient(90deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)) 1; }
.border-gradient-primary-bottom { border-image: linear-gradient(180deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)) 1; }
.border-gradient-primary-left { border-image: linear-gradient(270deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)) 1; }
.border-gradient-secondary { border-image: radial-gradient(var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)) 1; }
.border-gradient-secondary-top { border-image: linear-gradient(0deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)) 1; }
.border-gradient-secondary-right { border-image: linear-gradient(90deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)) 1; }
.border-gradient-secondary-bottom { border-image: linear-gradient(180deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)) 1; }
.border-gradient-secondary-left { border-image: linear-gradient(270deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)) 1; }

// --------------------------------

// (END) Global editor code

// --------------------------------