@use '../base' as *;

/* -------------------------------- 

File#: _1_responsive-iframe
Title: Resposive Iframe
Descr: Responsive wrapper for iframe elements (e.g., YouTube and Vimeo videos)
Usage: codyhouse.co/license

-------------------------------- */