@use '../base' as *;
@use '_1_3d-text-block.scss' as *;

/* -------------------------------- 

File#: _2_feature-v17
Title: Feature v17
Descr: A text section with a single CTA link
Usage: codyhouse.co/license

-------------------------------- */