/* -------------------------------- 

File#: _1_chameleonic-header
Title: Chameleonic Header
Descr: Header component whose theme adapts on scroll to the underneath section
Usage: codyhouse.co/license

-------------------------------- */
.cha-header {
  background-color: hsla(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l), 0.98);
}

.cha-header__logo {
  display: block;
  width: 151px;
  height: 30px;
}

.cha-header__nav {
  display: none;
}

.cha-header__link {
  color: var(--color-contrast-higher);
  text-decoration: none;
  transition: opacity 0.3s;
}
.cha-header__link:hover {
  opacity: 0.5;
}

.cha-header__btn {
  background-color: var(--color-primary);
  padding: var(--space-xs) var(--space-md);
  border-radius: 50em;
  box-shadow: var(--shadow-sm);
  color: var(--color-white);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
}
.cha-header__btn:hover {
  background-color: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) * 0.9));
}
.cha-header__btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.cha-header__btn:focus {
  outline: 2px solid hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2);
  outline-offset: 2px;
}

.cha-header__trigger {
  display: block;
  font-size: 24px;
}
.cha-header__trigger .icon {
  display: block;
}

.cha-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg);
  display: none;
}

.cha-modal__close {
  display: block;
  font-size: 24px;
}
.cha-modal__close .icon {
  display: block;
}

.cha-modal__link {
  font-size: var(--text-xl);
  color: var(--color-contrast-higher);
  text-decoration: underline;
}

.demo-theme-dark {
  --color-primary: hsl(349, 75%, 51%);
  --color-primary-h: 349;
  --color-primary-s: 75%;
  --color-primary-l: 51%;
  --color-bg: hsl(240, 8%, 12%);
  --color-bg-h: 240;
  --color-bg-s: 8%;
  --color-bg-l: 12%;
  --color-contrast-high: hsl(0, 0%, 95%);
  --color-contrast-high-h: 0;
  --color-contrast-high-s: 0%;
  --color-contrast-high-l: 95%;
  --color-contrast-higher: hsl(0, 0%, 100%);
  --color-contrast-higher-h: 0;
  --color-contrast-higher-s: 0%;
  --color-contrast-higher-l: 100%;
  background-color: var(--color-bg);
  color: var(--color-contrast-high);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 64rem) {
  .cha-header__nav {
    display: block;
  }

  .cha-header__trigger, .cha-modal {
    display: none !important;
  }
}
.js .cha-header-clip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  pointer-events: none;
}
.js .cha-header {
  pointer-events: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

html:not(.js) .cha-header__trigger {
  display: none;
}
html:not(.js) .cha-header__nav {
  display: block;
}