::-moz-selection { /* Code for Firefox */
    color: rgb(241, 9, 203);
    background: rgb(17, 17, 17);
  }
  
  ::selection {
    color: rgb(255, 1, 192);
    background: rgb(0, 0, 0);
  }

section{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.rounded{
    border-radius: 20px;
}

.js-slideshow, .slideshow__content, .slideshow__item{
  height: 100vh;
}

.customer-logos__logo {
  display: block;
  fill: currentColor;
}

#portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}